<h1>'Galpões e estoque'</h1>

<h2>Galpões</h2>

<% if @warehouses.empty? == true %>
  <p><%= 'Não existem galpões cadastrados' %><p>
<% else %>
  <% @warehouses.each do |w| %>
    <ol>
      <li>Nome: <%= link_to(w.name, warehouse_path(w.id)) %></li>
      <li>Código: <%= w.code %></li>
      <li>Cidade: <%= w.city %></li>
      <li>Área: <%= w.area %> m²</li>
    </ol>
  <% end %>
<% end %>