<h1>Detalhes do fornecedor <%= @supplier.trade_name %></h1>

<ul>
  <li><strong>Nome fantasia:</strong> <%= @supplier.trade_name %></li>
  <li><strong>Razão social:</strong> <%= @supplier.corporate_name %></li>
  <li><strong>CNPJ:</strong> <%= @supplier.nif %></li>
  <li><strong>Endereço:</strong> <%= @supplier.address %></li>
  <li><strong>email:</strong> <%= @supplier.email %></li>
  <li><strong>Telefone para contato:</strong> <%= @supplier.phone_number %></li>
</ul>

<%= link_to('Editar', edit_supplier_path(@supplier.id)) %>
<%= button_to('Remover', supplier_path(@supplier.id), method: :delete) %>