<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Sistema de Galpões e estoque</h1>
      <nav>
        <%= link_to('Fornecedores', suppliers_path) %> <br/>
         <%= link_to('Modelos de Produtos', product_models_path) %>
      </nav>
    </header>
    <main>
    <div>
      <%= notice %>
    </div>
      <%= yield %>
      <div>
        <%= link_to('Voltar para a tela inicial', root_path) %>
      </div>
    </main>
  </body>
</html>
